.item-greetings,
.container-filter {
  padding: 1rem 20px;
  text-align: center;
}

.container-filter .card-btn {
  margin: 10px;
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem 20px;
  gap: 20px;
}
