.nav-bar-container {
    width: 100%;
}

.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #d48b8b;
    height: 4rem;
    padding: 1rem 20px;
}

.nav-bar-logo{
    max-width: 160px;
}

.nav-bar-options{
    display: flex;
    justify-content: space-around;
    width: 80%;
    cursor: pointer;
    color: #000;
    list-style: none;
}
.nav-bar-item:hover{
    color: #ff0000
}