@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

html *,
body * {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #ff0000;
  --secondary-color: #4d4d4d;
  --tertiary-color: #8f8e8e;
  --text-color: #000000;
  --background-color: #ffffff;
  --border-radius: 20px;
}

.card-btn {
  background: var(--primary-color);
  color: var(--background-color);
  cursor: pointer;
  border: 2px solid var(--primary-color);
  border-radius: 20px;
  font-weight: 600;
  padding: 5px;
  margin: 0 auto;
  min-width: 6rem;
}

.card-btn:hover {
  background: var(--secondary-color);
  color: var(--background-color);
  border: 2px solid var(--secondary-color);
  font-weight: 600;
  transition: all 0.3s ease-out;
}

*:disabled,
*:disabled:hover {
  background-color: var(--tertiary-color);
  border: solid 1px var(--tertiary-color);
  cursor: initial;
  opacity: 0.5;
}
